<div class="converter">
    <div class="input-group">
      <input type="number" [(ngModel)]="amount" (input)="convertCurrency()" />
      <app-currency-selector [(selectedCurrency)]="fromCurrency" (change)="convertCurrency()"></app-currency-selector>
    </div>
  
    <div class="swap">↔</div>
  
    <div class="input-group">
      <input type="text" [value]="convertedAmount | number:'1.2-2'" disabled />
      <app-currency-selector [(selectedCurrency)]="toCurrency" (change)="convertCurrency()"></app-currency-selector>
    </div>
  
    <p>{{ amount }} {{ fromCurrency }} = {{ convertedAmount | number:'1.2-2' }} {{ toCurrency }}</p>
  </div>
  