@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "primeicons/primeicons.css";


.navbar {
  background-color: inherit;
  margin-top: 150px;
}
  
  .navbar .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  



  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.8rem;
    color: #0a1931;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 70px; /* Aggiungi margine maggiore per abbassare il titolo */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
}
