<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <p-button label="🏠 Home" [raised]="true" severity="secondary" [routerLink]="['/home']"></p-button>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<h1>Preferiti</h1>

<!-- Condizione per mostrare il messaggio se la lista è vuota -->
<div *ngIf="favorites.length === 0; else favoritesList" class="no-favorites-message">
  <p>Sembra che non ci siano preferiti aggiunti per ora</p>
</div>

<ng-template #favoritesList>
  <ul class="favorites-list">
    <li *ngFor="let fav of favorites; let i = index">
      <span>{{ fav.from }} → {{ fav.to }}</span>
      <div class="btn-group">
        <button (click)="goToDetails(fav)" class="btn btn-warning">
          <i class="pi pi-pen-to-square"></i> <!-- Icona modifica -->
        </button>
        <button (click)="removeFavorite(i)" class="btn btn-danger">
          <i class="pi pi-trash"></i> <!-- Icona elimina -->
        </button>
      </div>
    </li>
  </ul>
</ng-template>