<h1>Exchange Rate App</h1>
<router-outlet></router-outlet>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Using PrimeNG p-button for Info -->
            <li class="nav-item">
                <p-button label="Info" [raised]="true" severity="secondary" [routerLink]="['/info']"></p-button>
            </li>
            <!-- Using PrimeNG p-button for Preferiti -->
            <li class="nav-item">
                <p-button label="Preferiti" [raised]="true" severity="secondary" [routerLink]="['/preferiti']"></p-button>
            </li>                                                          
        </ul>
    </div>
</nav>     

<div class="exchange-container">
    <!-- Contenitore Importo da Convertire (Sinistra) -->
    <div class="input-container">
        <label class="input-label">Importo</label>
        <div class="amount-input">
            <app-input-valuta
                [(value)]="amountFrom" 
                (valueChange)="convertCurrencyFromLeft($event)">
            </app-input-valuta>
        </div>
    </div>

    <!-- Menu Valuta Sinistra -->
    <div class="menu-left">
        <app-menu 
        [(selectedCurrency)]="selectedCurrencyFrom"
        (selectedCurrencyChange)="convertCurrency()">
        </app-menu>
    </div>

    <!-- Pulsante Swap -->
    <div class="swap-button">
        <button (click)="swapCurrencies()">
            <span class="material-symbols-outlined">swap_horiz</span>
        </button>
    </div>

    <!-- Contenitore Importo Convertito (Destra) -->
    <div class="input-container">
        <label class="input-label2">Convertito in</label>
        <div class="converted-amount">
            <app-input-valuta
                [(value)]="amountTo"
                (valueChange)="convertCurrencyFromRight($event)">
            </app-input-valuta>
        </div>
    </div>

    <!-- Menu Valuta Destra -->
    <div class="menu-right">
        <app-menu 
        [(selectedCurrency)]="selectedCurrencyTo"
        (selectedCurrencyChange)="convertCurrency()">
        </app-menu>
    </div>
</div>



<!-- Contenitore per il rate -->
<div class="rate-container">
    <div class="rate">
        <p>
            {{ selectedCurrencyFrom.code }} 1 = 
            {{ exchangeRate | number:'1.4-4' }} 
            {{ selectedCurrencyTo.code }}
        </p>
    </div>
</div>

<!-- Nuovo elemento "Cerca per paese" usando PrimeNG p-button -->
<div class="country-search-container">
    <p-button label="Cerca per paese" [routerLink]="['/cerca-paese']" [link]="true"></p-button>
</div>

<!-- Contenitore con posizione relativa per la stella -->
<div class="fav-container">
    <div (click)="toggleFavorite()" class="fav-icon">
        <i [class.pi-star]="!isFavorite()" [class.pi-star-fill]="isFavorite()" class="pi"></i>
    </div>
</div>
