/* Stile per l'elemento selezionato (sezione 'Seleziona paese') */
.p-dropdown-label {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start; /* Aggiungi questa linea per allineare a sinistra */
  gap: 8px;
  padding: 6px 4px;
  font-size: 14px; 
}

/* Bandiera accanto al nome del paese */
.flag-icon {
  width: 20px;  /* Imposta la larghezza della bandiera */
  height: auto;  /* Mantieni le proporzioni della bandiera */
  margin-right: 8px;  /* Aggiungi spazio tra la bandiera e il nome del paese */
}

/* Elemento della lista dropdown */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  font-size: 13px;
}

/* Effetto hover sugli elementi della lista */
.dropdown-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

