<div class="country-selector">
    <p-dropdown 
        [options]="paesiValute" 
        [(ngModel)]="selectedCurrency"
        (onChange)="onPaeseChange($event.value)"
        optionLabel="paese" 
        [filter]="true" 
        filterBy="paese"
        [showClear]="false"
        placeholder="Seleziona Paese" 
        class="custom-dropdown">

        <!-- Template per l'elemento selezionato -->
        <ng-template let-selectedOption pTemplate="selectedItem">
            <div class="dropdown-item" *ngIf="selectedOption">
                <img [src]="'https://flagcdn.com/' + selectedOption.flag + '.svg'" class="flag-icon" alt="{{ selectedOption.paese }} flag"/>
                <span>{{ selectedOption.paese }} ({{ selectedOption.code }})</span>
            </div>
        </ng-template>

        <!-- Template per ogni elemento della lista -->
        <ng-template let-item pTemplate="item">
            <div class="dropdown-item">
                <img [src]="'https://flagcdn.com/' + item.flag + '.svg'" class="flag-icon" alt="{{ item.paese }} flag"/>
                <span>{{ item.paese }} ({{ item.code }})</span>
            </div>
        </ng-template>

    </p-dropdown>
</div>
