<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />


<div class="storico-container">
    <h3>Storico Conversioni</h3>
    <ul *ngIf="storico.length > 0; else noStorico">
      <li *ngFor="let entry of storico; index as i">
        <span>{{ entry.date }} - {{ entry.from }} {{ entry.amount }} → {{ entry.to }} {{ entry.result }}</span>
        <button (click)="removeItem(i)">❌</button>
      </li>
    </ul>
    <ng-template #noStorico>
      <p>Nessuna conversione effettuata</p>
    </ng-template>
  </div>
  